<meta charset = "UTF-8">
<link rel = "stylesheet" href="style.css">
<title>Serie A </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/6137bb9b43.js" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.5.3/socket.io.js"></script>
<script>var socket = io();</script>
<script>
    let matches
    let currentPageStats
    let avgStats
    function addMatch(match) {
        let h_team = match.home
        let a_team = match.away
        let status
        let status2
        if (match.status.reason) {
            status2 = match.status.scoreStr
            status = match.status.reason.long
        } else {
            status2 = match.status.startTimeStr
            status = match.status.startDateStr
        }
        $('#matches').append(`<%- include('./match'); %>`);
    }

    function createModal(match) {
        let status = match.header.status
        let h_team = match.general.homeTeam
        let a_team = match.general.awayTeam
        $('body').append(`<%- include('./modal'); %>`);
        let stats = status.reason? match.content.stats.stats : socket.emit('getAvgStats',match)
        for (let i = 0; i < stats.length; i++) {
                let main_title = String(stats[i].title).replaceAll(/[^\w\s]/gi, '').replaceAll(' ','')
                $('#stats > .stat').append(`<%- include('./catStats'); %>`); 
                stats[i].stats.forEach(sub => {
                    let title = sub.title
                    let values = sub.stats
                    if (!values[0]) return
                    $('#stats > .stat' ).children().eq(i).append(`<%- include('./stat'); %>`); 
                });
            }
        $('#viewNote').modal('show').on('hidden.bs.modal',() => $('#viewNote').remove())
    }

    function createAvgsModal(data) {
        console.log(data)
        let status = data.match.header.status
        let h_team = data.match.general.homeTeam
        let a_team = data.match.general.awayTeam
        $('body').append(`<%- include('./modal'); %>`);
        let stats = [data.h_team.avg.stats,data.a_team.avg.stats]
        
        stats.forEach(main => {
            main.forEach(maincat => {
                let main_title = String(Object.keys(maincat)[0]).replaceAll(/[^\w\s]/gi, '').replaceAll(' ','')
                if ($('#'+main_title ).length<1) $('#stats > .stat').append(`<%- include('./catStats'); %>`); 
                Object.keys(maincat[Object.keys(maincat)[0]]).forEach(subcat => {
                    let title = subcat
                    let values = maincat[Object.keys(maincat)[0]][subcat]
                    $('#'+main_title ).append(`<%- include('./stat'); %>`);
                })
            })
        })
        $('#viewNote').modal('show').on('hidden.bs.modal',() => $('#viewNote').remove())
    }

    socket.on("update", (data) => {
        let currRound = data.currRound
        matches = data.matches
        matches.filter(x => x.round == currRound? addMatch(x) : '' )
        $('#round_nr').append(`Giornata `+currRound)
        socket.emit('getStats',currRound)
    });

    socket.on("returnStats", async (currentMatches) => {
        currentPageStats = currentMatches
    })

    socket.on("returnAvgStats", async (data) => {
        createAvgsModal(data)
    })
    
    $(document).on('click', '.match',async function(e){
            var id_match = $(this).attr('id')
            let match = await currentPageStats.find(x=> x._id == id_match).match
            if (match.header.status.reason) {
                createModal(match)
            } else {
                socket.emit('getAvgStats',match)
            }
            
        });

    $(document).on('click', '#back, #next', function(e){
        var nr_round = parseInt($('#round_nr')[0].innerText.split(' ')[1])
        var btnAttr = $(this).attr('id')
        switch (btnAttr) {
            case 'back':
                if (nr_round == 1) return
                nr_round = nr_round-1
                break;
            case 'next':
                if (nr_round == 38) return
                nr_round = nr_round+1
            break;
        }
        $('.match').remove()
        matches.filter(x => x.round == nr_round? addMatch(x) : '' )
        $('#round_nr').text("Giornata "+nr_round)
        socket.emit('getStats',nr_round)
    })
</script>