<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../views/partials/head'); %>
    </head>
    <body class ="serieAprimary">
        <%- include('../views/partials/navbar'); %>
        <section class="container-fluid py-5 d-flex flex-column justify-content-center align-items-center" id="matches">
        </section>
    </body>
</html>

<script>
    $(document).on('click', '.match', function(e){
            var id_match = $(this).attr('id')
            socket.emit("getStats", id_match);
            /*let url = "https://webws.365scores.com/web/game/?langId=12&timezoneName=Europe/Rome&gameId="+id_match
            const options = {
                method: 'get',
                url: url
            }
            fetch(url,options)
                .then(response => response.json())
                .then(json => {
                    let game = json.game
                    h_team = game.homeCompetitor
                    a_team = game.awayCompetitor
                    $('body').append(`<%- include('../views/partials/modal'); %>`);
                    if (game.gameTime>-1) {
                        if (h_team.statistics.length ==  a_team.statistics.length) {
                        for (let col = 0; col < h_team.statistics.length; col++) {
                            if (String(h_team.statistics[col].value).endsWith('%')) {
                                h_team.statistics[col].value = String(h_team.statistics[col].value).replace('%','')
                            }
                            if (String(a_team.statistics[col].value).endsWith('%')) {
                                a_team.statistics[col].value = String(a_team.statistics[col].value).replace('%','')
                            }
                            if (col<Math.round(h_team.statistics.length/2)) {
                                $('#stats > .stat1').append(`<%- include('../views/partials/stat'); %>`);  
                            }
                            else {
                                $('#stats > .stat2').append(`<%- include('../views/partials/stat'); %>`);  
                            }
                        }
                    }
                    }
                    $('#viewNote').modal('show');
                    const myModalEl = document.getElementById('viewNote')
                    myModalEl.addEventListener('hidden.bs.modal', event => {
                        myModalEl.remove()
                    })
                })
                .catch(err => console.log(err))*/
        });
</script>

<script>
    $(document).on('click', '#back, #next', function(e){
        var id_match = $(this).parent().find('#round_nr')[0].innerText.split(' ')[1]
        let url
        if ($(this).attr('id') == 'next') {
            url = 'https://webws.365scores.com/web/games/?langId=12&timezoneId=-1&userCountryId=-1&competitions=17&aftergame='+last+'&direction=1'
        }
        else if ($(this).attr('id') == 'back'){
            url = 'https://webws.365scores.com/web/games/?langId=12&timezoneId=-1&userCountryId=-1&competitions=17&aftergame='+first+'&direction=-1'
        }
        
        const options = {
            method: 'get',
            url: url
        }
        fetch(url,options)
            .then(response => response.json())
            .then(json => {
                let games = json.games
                temp = Object.keys(json.paging)[0]
                page = json.paging[temp]
                $('.match').remove()
                for (let i = 0; i < games.length; i++) {
                    if (i== 0) {
                        first = games[i].id
                        $('#round_nr').text("Giornata "+games[i].roundNum)
                    }
                    if (i==games.length-1) {
                        last = games[i].id
                    }
                    h_team = games[i].homeCompetitor
                    a_team = games[i].awayCompetitor
                    $('#matches').append(`<%- include('../views/partials/match'); %>`);
                }
            })
            .catch(err => console.log(err))
    })
</script>